html,
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-image: linear-gradient(225deg, #000000, #001735);
  overflow-x: hidden;
}

@supports (padding: max(0px)) {
  body,
  header,
  footer {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
  line-height: normal;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding: 2vmax;
}

.path-link {
  font-size: 5vmax;
}

.lazy-pic {
  height: auto;
  border-radius: 30px;
  box-shadow: #3a3b3c 0 15px 100px;
}

.school-subtitle {
  font-size: 4vmin !important;
}

.photo {
  width: 80vmin;
  margin: 2vmin;
}
